<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body onload="cuttext(); addaption(); codeinarticle()">
    <nav class="menu" id="menu">
        <ul>
            <li><div class="logo"><a href="/">
                <ul>
                    <h1><span class="prog">Prog</span><span class="way">Way</span></h1>
                </ul>
                </a>   
            </div></li>
            <li><a onmouseover="animation('soft', 'over')" onmouseout="animation('soft', 'out')" class="amenu" href="/soft">Софт</a><hr class="step0" id="soft"></li>
            <li><a onmouseover="animation('quizs', 'over')" onmouseout="animation('quizs', 'out')" class="amenu" href="/quizs">Задачи</a><hr class="step0" id="quizs"></li>
            <li><a onmouseover="animation('posts', 'over')" onmouseout="animation('posts', 'out')" class="amenu" href="/posts">Статьи</a><hr class="step0" id="posts"></li>
            <li><a class="amenu amenuimg" href="https://t.me/TheProgWay"><img src="/img/tg.png" alt=""></a></li>
            <li><a class="amenu amenuimg" href="https://github.com/ProgWay12"><img src="/img/github.png" alt=""></a></li>
        </ul>
    </nav>
    <div class="main">
        {{{body}}}
    </div>
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
<html>